.tweet-info {
    font-size: 0.9em;
  }
  
  .name {
    font-weight: 600;
    padding-left: 10px;
  }
  
  .tweet-text {
    padding-left: 10px;
  }
  .handle {
    padding-left: 4px;
    color: var(--ion-color-medium)
  }
  
  .wrapper {
    border-bottom: 1px solid var(--ion-color-light);
  }
  
  .highlight {
    color: var(--ion-color-primary)
  }
  
  .preview-img {
    border: 1px solid var(--ion-color-light);
    border-radius:  10px;
  }
  
  #interest{
    color: #923D41;
  }

  .dept {
    font-weight: 400;
    padding-left: 10px;
    //color: #923D41;
  }

  .dept1 {
    font-weight: 400;
    color: #923D41;
  }

  ion-icon {
    font-size: 20px;
    color: #923D41;
    padding: auto;
  }