:host {

    ion-list {
        &.list-md {
            padding: 0;
        }
    }
}

ion-avatar {
    width: 200;
    height: 200;
}

ion-item {
    text-decoration: none;
}

ion-label {
    font-weight: 400;
}

ion-icon {
    color: #923D41;
}