ion-header {
    text-align: center;
}

#source {
    text-decoration: none;
    color: primary;
}
#p-title {
    font-size: 14px;
    text-align: center;
}

#b-links {
 text-decoration: none;
}

#title-1 {
    text-align: center;
    font-weight: 500;
    background-color: #923D41;
    height: 60px;
    margin: auto;
    padding-top: 10px;
    color: white;
}

#title {
    text-align: center;
    font-weight: 500;
    background-color: #923D41;
    height: 40px;
    margin: auto;
    padding-top: 10px;
    color: white;
    
}

#head {
    margin-top: 5px;
}

#details {
    //text-align: center;
    padding: auto;
    margin: auto;
    word-spacing: 1px;
    text-align: justify;
    line-height: 1.5;
    font-size: 16px;
}