<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="header">
    <h1>Forgot <br/> Password</h1>
    <img src="assets/icon/ashesi-logo.png"/>
    <h3 id="app-name">CSIS Capstone</h3>
  </div>


  <div id="form">
    <app-input placeholder="Ashesi Email" type="email" [(ngModel)]="email" ngDefaultControl></app-input>

    <ion-button expand="block" shape="round" (click)="forgot_password()">Reset password</ion-button>

  </div>

</ion-content>
